extends layout

append head

    style.
        .container {
            margin-top: 10%;
        }

        .btn-lg {
            margin-top: 3%;
        }

append content
    .container
        .row
            .col-xs-12.col-sm-6.col-md-8
                form(method='post', action='/search')
                    label(for='searchBar', class='text-right pull-right') Search:
                    input(id='searchBar',type='text', class='form-control', name='searchItem', placeholder='')
                    input(type='submit', class='btn-lg', value='Search', id='button', name='search')