extends layout

append head

    style.
        .container {
            margin-top: 10%;
        }

append content
    .container
        .row
            .col-xs-12
                form(method='post', action='/search')
                    .col-xs-10.col-sm-8
                        input(id='searchBar',type='text', class='form-control', name='searchItem', placeholder='')
                    .col-xs-2
                        input(type='submit', class='btn btn-md btn-primary', value='Search', id='button', name='search')