doctype html
html
    head
        title= 'Kuixine Hack'
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', rel='javascript')
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js', rel='javascript')
        block head
    body
        block content